body {
  width: 600px;
  background: url("http://thevertilehouse.org/wp-content/uploads/Screen-shot-2013-05-18-at-1.19.59-PM-1024x574.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Helvetica;
  margin: 0 auto;
}
div {
  background: rgba(0,50,100,.5);
  padding: 20px 50px;
}
nav {
  text-align: right;
  display: block;
  margin-bottom: 50px; 
}
nav h1 {
	position: fixed;
	top: -999px;
}
nav a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: rgba(255,255,255,.7);
}
nav a:hover {
  color: rgba(255,255,255,1);
}
h1 {
  text-align: center;
  margin-bottom: 100px;
}
h2 {
  border-bottom: 2px solid black;
  margin: 200px 0 100px 0;
}
p {
  text-align: justify;
}